@media screen and (min-width: 501px) and (max-width: 767px){

footer{
 width: 640px;
}

  .nav-home li {
    margin: 20px;
    margin-left: 70px;
    list-style: none;
  }

 header{
  height: 40px;
  width: 767px;
 }
 
 .logo{
 width: 80px;
}

 main{
  padding: 0 0 10px 10px;
 }
 
 h1{
  font-size: 60px;
  color: #5C1362;
   font-family: 'Rubik', sans-serif;
   }

 p, h3{
  font-size: 20px;
    color: #352c84;
   font-family: "Red Hat Display", sans-serif;;
 }

 h2{
  font-size: 30px;
  color: #353c84;
   font-family: 'Rubik', sans-serif;
   }

 .imagem-noticia{
  width: 650px; 
  height: auto;
  margin: 5px;
 }

.menu-2{
    margin-top: 80px;
    display: flex;
}

 .pesquisa{
  display: flex;
  align-items: center;
  margin: 0 0 0 200px;
 }

.procurar{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 50px 0 0 50px;
    background-color: #CAC0B5;
    color: #2A516E;
}

.circulo-pesquisa{
    position: relative;
    width: 50px;
    height: 50px;
    right: 5px;
    border: none;
    border-radius: 100%;
    background-color: #352C84;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa{
    width: 30px;
    height: 30px;
}
 
}

@media screen and (min-width: 300px) and (max-width: 500px) {

header{
 width: 500px;
 height: 30px;
}

  .nav-home li {
    margin: 10px;
   margin-left: 20px;
    list-style: none;
  }

 footer{
 width: 500px;
}
 
 .logo{
 width: 80px;
}

 main{
  padding: 0 0 10px 10px;
 }
 
 h1{
  font-size: 50px;
  color: #5C1362;
   font-family: 'Rubik', sans-serif;
   }

 p, h3{
  font-size: 20px;
    color: #352c84;
   font-family: "Red Hat Display", sans-serif;
 }

 h2{
  font-size: 30px;
  color: #353c84;
   font-family: 'Rubik', sans-serif;
   }

 .imagem-noticia{
  width: 450px; 
  height: auto;
  margin: 10px;
 }

.menu-2{
    margin-top: 80px;
    display: flex;
}

 .pesquisa{
  display: flex;
  align-items: center;
  margin: 0 0 0 50px;
 }

.procurar{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 50px 0 0 50px;
    background-color: #CAC0B5;
    color: #2A516E;
}

.circulo-pesquisa{
    position: relative;
    width: 50px;
    height: 50px;
    right: 5px;
    border: none;
    border-radius: 100%;
    background-color: #352C84;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa{
    width: 30px;
    height: 30px;
}

}

@media screen and (min-width: 1541px) {
   main{
    margin: 5px 30px;
    }

 .mobile-menu{
  padding-left: 50px;
 }

    nav{
       justify-content: space-between;
    }

  .nav-home li {
    margin: 50px;
   margin-right: 150px;
  }

    .menu-2{
        display: flex;
        justify-content: space-between;
    }

 .pesquisa{
  display: flex;
 }

    .procurar{
        width: 500px;
        height: 50px;
        padding-left: 15px;
        border: none;
        border-radius: 25px 0 0 25px;
        background-color: #CAC0B5;
        color: #2A516E;
        margin-right: 60px;
        margin-top: 75px;
    }

    .circulo-pesquisa{
        position: relative;
        width: 70px;
        height: 70px;
        right: 80px;
        border: none;
        border-radius: 100%;
        background-color: #352C84;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lupa{
        width: 40px;
        height: 40px;
    }
    
    .logo{
        width: 150px;
        margin-bottom: 30px;
        margin-right: 50px;
    }

    .noticia-teste, .noticia-teste1{
        display: flex;
        gap: 25px;
    }

  h1{
        color: #5C1362;
        font-size: 70px;
        font-family: 'Rubik', sans-serif;
        margin-left: 25px;
        padding-top: 60px;    
    }
    
    h3, p{
        color: #352C84;
        font-size: 30px;
        font-family: "Red Hat Display", sans-serif;
    }

    h2{
        color: #352c84;
        font-size: 50px;
        font-family: 'Rubik', sans-serif;
    }

}
